body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}
.main-content.row {
	margin: 0px 50px;
	padding-top: 100px;
}

.main-content-title {
	margin: 20px auto;
	width: 50%;
	display: inline;
}
#body nav {
	position: fixed;
	opacity: 0.9;
  top: 0;
	z-index: 999;
}
nav .nav-wrapper ul li a {
	color: #333;
}
a.publishBtn {
	position: fixed;
	bottom: 10%;
	right: 10%;
	z-index: 999;
}
.main-content-header {
	display: block;
	width: 100%;
	margin: 0px auto;
	padding: 0px auto;
}
.login-container {
	height: auto;
	min-width: 50%;
	background-color: rgba(255,255,255,0.9);
	top: 30%;
	position: absolute;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	padding: 30px;
}
.login-container h3{
	text-align: center;
}
.login-button {
	float: right;
	margin: 0 10px;
}
.register-button {
	float: right;
	margin: 0 10px;
}
.box.card-panel {
	background-color: rgba(255,255,255,0.9);
}
.login-bg {
	width: 100%;
	height: 100vh;
	background-image: url(../images/login-bg.jpg);
	background-repeat:no-repeat;
    background-position:20% 50%;
  	background-size: cover;
}
.event-section {
	padding: 50px 10%;
}
.event-detail-list li b {
	margin: 20px;
	font-size: 16px;
}
.event-detail-list li {
	text-align: left;
	margin: 10px 0;
}
#color-carousel .carousel-item {
	padding-top: 80px;
	height: 500px;
}
.publish-section {
	padding: 50px 5%;
	background-color: #00b0ff;
}
#publish-form {
	background-color: #fff;
	padding: 2% 5%;
	margin-top: 50px;
}
div.input-field.publish-textarea {
	margin-top: 50px;
}
.card {
	cursor: pointer;
}
.exitBtn {
	cursor: pointer;
}
.review-header {
	margin-top: 50px;
}
.thread-div {
	margin-bottom: 50px;
}
.floating-count span {
	color: red;
	font-weight: bold;
}
div.profilePic {
	margin-top: 0;
	padding: 40px;
}
img.profilePic {
	margin: 0 auto;
	display: block;
	height: 250px;
	width: 250px;
}
.nav-prof {
	height: 35px;
	width: 35px;
	margin: 0 10px;
	margin-bottom: 4px;
	display: inline;
	vertical-align: middle;
}
.brand-logo img {
	vertical-align: middle;margin: 0 15px 5px 15px;
}
.event-img {
	max-width: 100%;
	height: 500px;
	margin: 0px auto;
	display: block;
}

.event-cards {
	width: 100%;
	position: relative;
	margin: 1rem auto;
	background-color: #fff;
	transition: 0.25s;
	line-height: 22px;
	font-size:15px;
	font-weight: 400;
	letter-spacing: 0.5px;

}
.event-cards-image {
	height: 150px;
	width: 200px;
}
.event-cards-user-profile {
	height: 40px;
	width: 40px;
}



*, *:before, *:after {
  box-sizing: inherit;
}

#body .container {
  margin: 0px auto 0;
  width: 100%;
}

.u-float-right {
  float: right;
}

.u-flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.subtle {
  color: #888;
  font-size: 12px;
}

.card-media {
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
  height: 125px;
  margin-bottom: 25px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover {
  box-shadow: 0 5px 14px rgba(0, 0, 0, .2);
  cursor: pointer;
}

.card-media-object-container {
  background: none;
  float: left;
  height: 100%;
  width: 35%;
  position: relative;
}

.card-media-object {
  background-position: center center;
  background-size: cover;
  height: 100%;
}

.card-media-object:after {
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 300ms ease-out;
  z-index: 10;
}

.card-media:hover .card-media-object:after {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 52%, rgba(0,0,0,0.4) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 52%,rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  opacity: 1;
}

.card-media-object-tag {
  background-color: #fff;
  border-radius: 2px;
  padding: 2px 7px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.card-media-object-social-list {
  bottom: 4px;
  left: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}

.card-media-object-social-list li {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  margin-right: 6px;
  opacity: 0;
  overflow: hidden;
  transform: translateY(5px);
  transition: all 300ms ease-out;
  width: 30px;
}

.card-media:hover .card-media-object-social-list li {
  opacity: 1;
  transform: translateY(0);
}

.card-media-object-social-list li:nth-child(1) {
  transition-delay: 0;
}
.card-media-object-social-list li:nth-child(2) {
  transition-delay: 75ms;
}
.card-media-object-social-list li:nth-child(3) {
  transition-delay: 150ms;
}

.card-media-object-social-list-item-additional {
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  padding-top: 7px;
  text-align: center;
}

.card-media-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 65%;
}

.card-media-body-top {
  display: block;
}

.card-media-body-top-icons {
  margin-top: -2px;
  opacity: 0;
  transition: all 300ms ease-out;
  transform: translateY(-5px);
}

.card-media:hover .card-media-body-top-icons {
  opacity: 1;
  transform: translateY(0);
}

.card-media-body-top-icons > svg {
  cursor: pointer;
  margin-left: 10px;
  transition: all 300ms ease-out;
}

.card-media-body-top-icons > svg:hover {
  fill: #444;
}

.card-media-body-heading {
  display: block;
  margin-top: 10px;
}

.card-media-body-supporting-bottom {
  position: absolute;
  bottom: 10px;
  left: 0;
  opacity: 1;
  padding: 0 15px;
  transition: all 300ms ease-out;
  width: 100%;
}

.card-media:hover .card-media-body-supporting-bottom {
  opacity: 0;
  transform: translateY(-8px);
}

.card-media-body-supporting-bottom-text {
  display: inline-block;
}

.card-media-body-supporting-bottom-reveal {
  opacity: 0;
  transform: translateY(8px);
  transition: all 300ms ease-out;
}

.card-media:hover .card-media-body-supporting-bottom-reveal {
  opacity: 1;
  transform: translateY(0);
}

.card-media-link {
  color: #41C1F2;
  text-decoration: none;
}
#body .nav-wrapper {
	background-color: #2B2D42;
}
#body .page-footer {
	background-color: #2B2D42;
}
#body {
	background-color: #EDF2F4
}
#body .btn-floating {
	background-color: #D90429;
}
#body .color-carousel .carousel-item {
	background-image: url(../images/nav-bg.jpg);
	background-size: cover;
}
#body .footer-copyright {
	padding: 0 10%;
}
.collection li strong {
  font-weight: bolder;
}
.card.user-card {
  background-color: #2B2D42;
}
.button.login button {
  background-color: #2B2D42;
}
.button.register a.register span {
  color: #2B2D42;
}
.login h4.title {
  color: #2B2D42;
}
@media only screen and (max-width: 600px) {
    .main-content.row {
      margin: 0;
    }
    div.event-section {
      padding: 50px 0;
    }
    #body h1.parallax-header {
      font-size: 3rem;
    }
}
@media only screen and (max-width: 980px) {
    h1.parallax-header {
      font-size: 5.5rem;
    }
    #modal2 li.gamerList {
      font-size: 13px;
    }
}
.ranking h3 {
  font-size: 3em;
}
.femaleIcon{
  color: #ff6666;
}
#femaleIcon{
  font-weight: bold;
}
.maleIcon{
  color: #3399ff;
}
#maleIcon{
  font-weight: bold;
}
.register-form {
  min-width: 255px;
}
#body .parallax-container {
      height: 450px;
    }
.tournament-content {
  width: 100%;
  padding: 0 10%;
}
.tournament-content .tournament-banner {
  width: 100%;
  margin: 0 auto;
  display: block;
}
.QRSection img.small-pic {
  width: 150px;
}
.no-margin {
  margin: 0;
}
.parallax-header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  top: 30%;
  font-size: 8rem;
}
#body input.nickname {
  width: 70%;
}
button.verify.btn {
  display: inline;
}
.tour-strong-text {
  font-size: 2em;
  font-weight: bolder;
  padding: 10px;
}
blockquote {
  font-size: 2em;
}
.tournament-content p{
  font-size: 1.2em;
}

.rule-list li {
  font-size: 1.2em;
}
.games-section {
  width: 100%;
  padding:100px 10%;
}
.games-section h1 {
  display: inline;
}
.games-section button {
  position: relative;
  top: 20px;
}
button.add-gamer.btn.btn-large {
  margin: 0 auto;
  display: block;
}

.gameRecordInput ul select{
  display: inline;
}

#modal2 li.gamerList {
  font-size: 22px;
  border-bottom: 1px solid #555;
  position: relative;
  top: 50px;
}

#ranks .tabs-content.carousel.initialized {
  height: 900px;
}
.male, .female, .trans {
  font-size: 0.8rem;
}
#body .secondary-content {
  margin-right: 20px;
}
#body .rankPic {
  width: auto;
  position: absolute;
  top: 0;
  right: 0;
}
#body .checkRecord {
  position: relative;
  top: 0px;
  left: 50%;
}




