body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.main-content.row {
	margin: 0px 50px;
	padding-top: 100px;
}

.main-content-title {
	margin: 20px auto;
	width: 50%;
	display: inline;
}
#body nav {
	position: fixed;
	opacity: 0.9;
	z-index: 999;
}
nav .nav-wrapper ul li a {
	color: #333;
}
.publishBtn {
	display: inline;
	float: right;
	position: relative;
	bottom: 10px;
	right: 10px;
}
.main-content-header {
	display: block;
	width: 100%;
	margin: 0px auto;
	padding: 0px auto;
}
.login-container {
	height: auto;
	min-width: 50%;
	background-color: white;
	top: 30%;
	position: absolute;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
	padding: 30px;
}
.login-container h3{
	text-align: center;
}
.login-button {
	float: right;
	margin: 0 10px;
}
.register-button {
	float: right;
	margin: 0 10px;
}
.login-bg {
	width: 100%;
	height: 100vh;
	background-color: #00b0ff;
}
.event-section {
	padding: 50px 10%;
}
.event-detail-list li b {
	margin: 20px;
	font-size: 16px;
}
.event-detail-list li {
	text-align: left;
	margin: 10px 0;
}
#color-carousel .carousel-item {
	padding-top: 80px;
	height: 500px;
}
.publish-section {
	padding: 50px 5%;
	background-color: #00b0ff;
}
#publish-form {
	background-color: #fff;
	padding: 2% 5%;
	margin-top: 50px;
}
div.input-field.publish-textarea {
	margin-top: 50px;
}
.card {
	cursor: pointer;
}
.exitBtn {
	cursor: pointer;
}
.review-header {
	margin-top: 50px;
}
.thread-div {
	margin-bottom: 50px;
}
.floating-count span {
	color: red;
	font-weight: bold;
}
div.profilePic {
	margin-top: 0;
	padding: 40px;
}
img.profilePic {
	margin: 0 auto;
	display: block;
	height: 250px;
	width: 250px;
}
.nav-prof {
	height: 35px;
	width: 35px;
	margin: 0 10px;
	margin-bottom: 4px;
	display: inline;
	vertical-align: middle;
}
.brand-logo img {
	vertical-align: middle;margin: 0 15px 5px 15px;
}
.event-img {
	max-width: 100%;
	height: 500px;
	margin: 0px auto;
	display: block;
}
